<html>
  <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet">
  <head>


  </head>
  <style type="text/css">
   body {
     background-image:url("timon.jpg");
     z-index: -1;
     opacity: 10%;
     background-size: 100%;
    font-family: 'Dosis', sans-serif;

   }
   .centered_div {
   width: Xu;
   height: Yu;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -(X/2)u;
   margin-top: -(Y/2)u;
   margin-top: -100px;
    margin-left: -200px;
}
  </style>
  <body>
    <div id="centered_div">
      <h1 style="color: white; text-align: center;">
        h a k u n a m a t a t a
      </h1>
    </div>



  </body>

</html>
