<html>
  <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet">
  <head>


  </head>
  <style type="text/css">
   body {
     /*background-image:url("timon.jpg");*/
     background-color: #2F4057;
     z-index: -1;
     opacity: 10%;
     background-size: 100%;
    font-family: 'Dosis', sans-serif;

   }
   .center {
     position: fixed;

      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  </style>
  <body>
    <div class="center">
      <h1 style="color: white; text-align: center; font-size: 40px; margin-top: 0px  ">
        h a k u n a m a t a t a
      </h1>
    </div>



  </body>

</html>
