html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container-fluid
{
  padding: 0;
  margin: 0;
}

.fill
{
  height: 100%;
}
/* HEADER */
 .header
 {
  margin: 0;
  height: 940px;
  background-image:url("timon+blue.jpg");
  background-repeat: no-repeat;
  box-shadow: 100px 10px 100px rgba(200,200,200,0.6);
  background-size: cover;
  font-family: 'Avenir-light', sans-serif;
 }

 .header-title
 {
   color: white;
   text-align: center;
   font-size: 50px;
 }

 .header-subtitle
 {
  color: #4AAF46;
  text-align: center;
  font-size: 20px;
 }
/* END OF HEADER */

.ver
{
  display: flex;
  flex-direction: column;
}

.hor
{
  display: flex;
  flex-direction: row;
}

.f-end-hor
{
  align-items: flex-end;
}

.f-end-ver
{
  justify-content: flex-end;
}

.f-center-hor
{
  align-items: center;
}

.f-center-ver
{
  justify-content: center;
}

.small
{
  width: 80%;
  height: auto;
}

.laptop
{

}

.description
{
  padding: 150px 150px;
  text-align: center;
  padding-top: 450px;
  font-family: 'Avenir-light', sans-serif;
}

.screen-title
{
  font-weight: bold;
  font-size: 30px;
}

.screen-text
{
  font-size: 25px;
  padding-top: 10px;
}
.screen-image-right
{
  padding-top: 100px;
  padding-bottom: 70px;
  align-items: center;
  margin-left: 30px;
}

.screen-image-left
{
  padding-top: 100px;
  padding-bottom: 70px;
  align-items: center;
  margin-left: 100px;
}

.badge-title
{
  text-align: center;
  padding-top: 40px;
  font-family: 'Avenir-light', sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.badge-subtitle
{
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Avenir-light', sans-serif;
  font-size: 20px;
}

.badge-info
{
  width: 80%;
  height: auto;
  background-color: white;
}
.badge-name
{
  text-align: center;
  padding-top: 10px;
  font-family: 'Avenir-light', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.badge-points
{
  text-align: center;
  font-family: 'Avenir-light', sans-serif;
  font-size: 20px;
  color: black;
}
.badge-description
{
  text-align: center;
  font-family: 'Avenir-light', sans-serif;
  font-size: 20px;
  color: grey;
}

@media(max-width:1029px)
{
    .laptop
    {

        display: none;
    }
}
 .btn-lg
 {
   color: white;
 }

 .footer
 {
   background-color: #2c3644;
   height: 80px;
   color: white;
   margin-top: 20px;
   text-align: center;
   padding: 15px;
   font-size: 16px;
   font-weight: bold;
 }
